---

---

<div
  class="slide-enter flex w-full justify-center pb-12 text-center md:col-span-6 print:hidden"
>
  <div class="flex items-center space-x-0 text-xs opacity-50">
    <span class="gap-1 text-center no-underline">
      <p class="mt-3 text-center font-mono">
        Thanks to <a class="font-black" href="https://github.com/MiraHikari">
          <span class="underline">MiraHikari</span>
        </a>
        for the Astro theme!
      </p>
    </span>
  </div>
</div>
